@import 'tailwindcss';

@theme {
  --color-base: #dfdff0;
  --font-display: 'Space Mono', monospace;
  --font-paragraph: 'Work Sans Variable', sans-serif;
}

@layer base {
  body {
    @apply w-[100dvw] overflow-x-hidden bg-base font-paragraph;
  }
}
